<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[pagingappfuse] %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<appender name="FILE_APPENDER"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/serverLog.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="CHAINSAW"
		class="org.apache.log4j.net.SocketAppender">
		<param name="RemoteHost" value="localhost" />
		<param name="Port" value="4445" />
		<param name="LocationInfo" value="true" />
	</appender>

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
	<logger name="org.springframework.security">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.apache.velocity">
		<level value="FATAL" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<!--logger name="org.hibernate.SQL">
		<level value="DEBUG"/>
		</logger-->

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<!-- Suppress warnings from Commons Validator -->
	<logger name="org.apache.commons.validator.ValidatorResources">
		<level value="ERROR" />
	</logger>

	<!-- Suppress invalid warning messages from JSF -->
	<logger name="org.apache.myfaces.shared_impl.renderkit.html">
		<level value="ERROR" />
	</logger>

	<logger name="org.appfuse">
		<level value="INFO" />
	</logger>

	<logger name="org.compass">
		<level value="INFO" />
	</logger>

	<logger name="com.pobox.paging">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_APPENDER" />
		<appender-ref ref="CHAINSAW" />
	</root>

</log4j:configuration>
